alembic==1.14.0
annotated-types==0.7.0
anyio==4.6.2.post1
argcomplete==3.5.1
asttokens==3.0.0
babel==2.16.0
bcrypt==4.1.2
Beaker==1.12.1
beautifulsoup4==4.12.3
blinker==1.9.0
blivet==3.11.0
blivet-gui==2.5.0
boto3==1.35.54
botocore==1.35.54
bottle==0.13.2
Brlapi==0.8.5
Brotli==1.1.0
cachelib==0.9.0
capstone==5.0.1
ccl_chromium_reader @ git+https://github.com/cclgroupltd/ccl_chromium_reader.git@12436a33b626b37f1c73237221ec7778f00cb237
ccl_simplesnappy @ git+https://github.com/cclgroupltd/ccl_simplesnappy.git@3d085230baa8c46cf2090ebba29bf6e8eab31087
certifi==2023.5.7
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cmarkgfm==2024.11.20
colored-traceback==0.3.0
comm==0.2.2
crypt_r==3.13.1
cryptography==43.0.0
cupshelpers==1.0
dasbus==1.7
databases==0.9.0
dbus-python==1.3.2
debugpy==1.8.11
decorator==5.1.1
distro==1.9.0
dnf==4.21.1
dnspython==2.7.0
ecdsa==0.19.0
email_validator==2.2.0
execnet==2.1.1
executing==2.1.0
fastapi==0.115.4
fastapi-cli==0.0.5
fedora-third-party==0.10
file-magic==0.4.0
Flask==3.0.3
flask-babel==4.0.0
Flask-Caching==2.3.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
gevent==24.11.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
humanize==4.9.0
i3ipc==2.2.1
idna==3.7
iniconfig==1.1.1
initial-setup==0.3.101
intervaltree==3.1.0
ipykernel==6.29.5
ipython==8.31.0
iso639==0.1.4
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.8.0
Jinja2==3.1.4
jmespath==1.0.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jwt==1.3.1
keyring==25.5.0
langtable==0.0.68
libcomps==0.1.21
libdnf==0.73.3
liboqs-python @ file:///home/wiswis/Builds/liboqs-python
libvirt-python==10.6.0
louis==3.28.0
lxml==5.2.1
Mako==1.2.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.5.0
mutagen==1.47.0
nest-asyncio==1.6.0
netifaces==0.11.0
nftables==0.1
nose2==0.15.1
numpy==2.2.4
nwg-panel==0.9.49
opencv-python==4.11.0.86
orjson==3.10.11
packaging==24.1
paho-mqtt==2.1.0
paramiko==3.5.0
parso==0.8.4
passlib==1.7.4
Paste==3.10.1
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
plumbum==1.7.2
ply==3.11
productmd==1.38
progressbar2==3.53.2
prompt_toolkit==3.0.48
protobuf==5.29.0
psutil==5.9.8
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pwntools==4.13.1
pwquality==1.4.5
pyasn1==0.6.0
pybluemonday==0.0.14
pycairo==1.25.1
pycipher==0.5.2
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.21.0
pycryptodomex==3.21.0
pycups==2.0.4
pydantic==2.9.2
pydantic-extra-types==2.10.0
pydantic-settings==2.6.1
pydantic_core==2.23.4
pyelftools==0.31
pyenchant==3.2.2
pygdbmi==0.11.0.0
pygit2==1.16.0
Pygments==2.18.0
PyGObject==3.48.2
pyhindsight==20241027
pykickstart==3.58
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyparted==3.13.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
pyserial==3.5
PySocks==1.7.1
pytest==8.3.3
pytest-xdist==3.6.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-linux-procfs==0.7.3
python-meh==0.52
python-multipart==0.0.17
python-utils==3.7.0
python-xlib==0.33
pytz==2024.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.1
pyzmq==26.2.0
regex==2024.9.11
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
rich==13.9.4
ROPGadget==7.4
rpm==4.20.0
rpmautospec==0.7.3
rpmautospec-core==0.1.5
rpyc==6.0.1
rsa==4.9
s3transfer==0.10.3
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.7-build/libselinux-3.7/src
sentry-sdk==2.13.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.7-build/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.2.0
shellingham==1.5.4
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.8.1
soupsieve==2.6
SQLAlchemy==2.0.36
SQLAlchemy-Utils==0.41.2
stack-data==0.6.3
starlette==0.41.2
systemd-python==235
Tempita==0.5.2
tenacity==9.0.0
tornado==6.4.2
traitlets==5.14.3
typer==0.13.1
typing_extensions==4.12.2
ufw==0.35
ujson==5.10.0
unicorn==2.0.1.post1
unix_ar==0.2.1
urllib3==1.26.20
uvicorn==0.32.0
uvloop==0.21.0
watchfiles==0.24.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.1.3
wheel==0.45.1
WTForms==3.2.1
xkbregistry==0.3
XlsxWriter==3.2.0
yt-dlp==2024.9.27
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
